.product-card .productPart {
    transition: transform .3s ease-out;
}


.product-card:hover .textPart {
    transform: translateY(-1rem);
}

.product-card:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}